.aplication {
  padding-top: 57px;
  position: relative;
}

.aplication__inner {
  background: linear-gradient(97.72deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%);
  backdrop-filter: blur(40px);
  border-radius: 8px;
  height: 900px;
  z-index: 10;
}

.scheme__items-resrve{
  margin-top: 50px;
  display: none;
}


.aplication__title {
  padding: 32px 0 40px 29px;
  color: #1d1d1b;
}

.aplication__img-item {
  height: 95px;
}

.aplication__content {
  display: flex;
  text-align: center;
  align-items: center;
  padding-left: 39px;
  justify-content: space-between;
}

.aplication__text-item {
  margin-top: 30px;
  width: 184px;
  height: 66px;
  text-transform: uppercase;
}



.aplication__scheme {
  padding-top: 198px;

}

.aplication__scheme-logo {
  display: flex;
  justify-content: center;
}

.aplication__scheme-item {
  display: flex;
}

.aplication__text-main {
  font-weight: 500;
font-size: 20px;
line-height: 125%;
}

.aplication__text-span {
  font-weight: 500;
font-size: 20px;
line-height: 125%;
  h6{
  font-weight: 900;
  font-size: 20px;
  line-height: 125%;
  margin-top: 4px;
  }
}



.aplication__scheme-item--one {
  position: absolute;
  bottom: 407px;
  left: 28%;

  gap: 15px;
}

.aplication__text--one {
  padding-top: 10px;
  text-align: left;
  position: relative;
   &::after{
    
    content: "";
    background-image: url(../images/pointer/pointer-1.png);
    width: 194px;
    height: 87px;
    position: absolute;
    left: 0;
    top: 35px;
  }
}


.aplication__scheme-item--two {
  position: absolute;
  right: 28%;
  bottom: 407px;
}

.aplication__text--two{
  text-align: center;
  padding-top: 10px;
  position: relative;
    &::before{

    content: "";
    background-image: url(../images/pointer/pointer-2.png);
    width: 194px;
    height: 87px;
    position: absolute;
    right: 13px;
    top: 35px;
  }
}

.aplication__scheme-item--free {
  position: absolute;
  left: 333px;
  top: 66.5%;
  gap: 20px;
}


.aplication__text--free{
  position: relative;

  &::after{
    content: "";
    background-image: url(../images/pointer/pointer-3.png);
    width: 194px;
    height: 1px;
    position: absolute;
    left: 0px;
    top: 25px;
  }

}

.aplication__scheme-item--four {
  gap: 19px;
  position: absolute;
  right: 330px;
  top: 586px;
}

.aplication__text--four{
  padding-top: 10px;
  position: relative;
  &::before{
    content: "";
    background-image: url(../images/pointer/pointer-4.png);
    width: 194px;
    height: 1px;
    position: absolute;
    right: 0px;
    top: 35px;
  }
}

.aplication__scheme-item--five {
  position: absolute;
  top:786px;
  left: 404px;
  padding-bottom: 29px;
}

.aplication__text--five{


  padding: 20px 0 0 8px;
  position: relative;
  &::after{
    content: "";
    background-image: url(../images/pointer/pointer-5.png);
    width: 194px;
    height: 88px;
    position: absolute;
    left: 9px;
    bottom: 26px;

  }
}


.aplication__scheme-item--six {
  position: absolute;
   
  top:794px;
  right: 441px;
  padding-bottom: 29px;
}

.aplication__scheme-text--six{
  padding: 10px 0 0 12px;
  position: relative;
  &::before{
    content: "";
    background-image: url(../images/pointer/pointer-6.png);
    width: 194px;
    height: 88px;
    position: absolute;
    right: 3px;
    bottom: 50px;

  }
}

.aplication__text-main--res-2{
  padding-top: 20px;
}

.aplication__text-main--res-1{
  padding-left: 5px;
}