.cleaning {
  background-image: url(../images/cleaning-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 70%;
  z-index: 2;
  color: #1d1d1b;
}

.cleaning__inner {
  padding: 146px 0 0 0;
}

.cleaning__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 23px;
}

.cleaning__title {
  text-transform: uppercase;
  color: #e42d12;
  max-width: 624px;
  font-weight: 900;
  font-size: 36px;
  line-height: 125%;
  text-transform: uppercase;
}

.cleaning__text {
  max-width: 464px;
  padding-left: 29px;
  position: relative;
  &::after {
    content: "";
    background-image: url(../images/arrow-orange.svg);
    width: 82px;
    height: 62px;
    background-repeat: no-repeat;
    top: 0;
    left: -80px;
    position: absolute;
  }
}

.cleaning__content {
  z-index: 5;
  background: linear-gradient(97.72deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%);
  backdrop-filter: blur(40px);
  border-radius: 8px;
  display: flex;
}

.content__item-title {
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  color: #e42d12;
  padding: 37px 0 23px 0;
}

.content__item-text {
  padding-left: 29px;
  line-height: 20px;
}

.content__title {
  padding-top: 55px;
  padding-bottom: 13px;
  font-weight: 900;
  font-size: 24px;
  line-height: 125%;
  text-align: center;
  text-transform: uppercase;

}

.content__img {
  text-align: center;
  padding: 0 29px 13px 29px;
}

.content__list {
  padding-bottom: 15px;
  padding-top: 35px;
  max-width: 516px;
}

.content__list-text {
  line-height: 125%;
  padding-bottom: 30px;
  width: 470px;
}

.cleaning__content--active {
  margin-top: 201px;
  padding-bottom: 116px;
}

.cross-img {
  width: 100%;
  position: relative;
}

.cross {
  position: absolute;
  right: 0;
  top: 0;
}

.cleaning{
  padding-bottom: 80px;
}

.cleaning__phone-content {
  display: none;
  margin-top: 20px;
}

.cleaning__phone-list {
  padding: 29px 0 0 31px;
  background: linear-gradient(97.72deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%);
  backdrop-filter: blur(40px);
  border-radius: 8px;
  list-style: none;
}

.cleaning__phone-item {
  position: relative;
  max-width: 320px;
  &::after {
    content: "";
    background-image: url(../images/arrow-orange.svg);
    width: 26px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    right: -30px;
    position: absolute;
  }
  padding-bottom: 27px;
}
.cleaning__phone-link {
  text-transform: uppercase;
  font-weight: 900;
  line-height: 125%;
  text-transform: uppercase;
  color: #1d1d1b;
}

.phone__content{
  display: none !important;
}
