

.header-sec {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #ffffff;
  background-image: url(../images/start.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}


.header__nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
   position: fixed;
  width: 100%;
  background: linear-gradient(97.72deg, rgba(66, 86, 103, 0.14) 0%, rgba(32, 41, 50, 0.16) 100%);
  backdrop-filter: blur(50px);
  z-index: 50;
}


.header__list{
  display: flex;
  justify-content: flex-end;
  gap: 132px;
  list-style: none;
}

.header__list-item { 
  padding-top: 25px;
  padding-bottom: 20px;
  text-transform: uppercase;
}


.header__inner{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 100vh;
}

.header__logo{
  z-index: 2;
  padding-top: 100px;
  text-align: center;
}

.logo{
  z-index: 50;
}

.phone{

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  a{
    z-index: 2;
  }
}

.link{
  height: 20px;
}

.header__text{
  display: none;
  padding-top: 170px;
  max-width: 261px;
  margin: 0 auto;
}