@media (max-width: 1550px) {
  .aplication__scheme-item--one {
    left: 25.5%;
    top: 410px;
  }

  .aplication__scheme-item--two {
    bottom: 416px;
    right: 25%;
  }

  .aplication__scheme-item--free {
    top: 66.5%;
    left: 270px;
  }

  .aplication__scheme-item--four {
    right: 270px;
  }

  .aplication__scheme-item--five {
    left: 26%;
  }

  .aplication__scheme-item--six {
    right: 390px;
  }
}

@media(max-width:1460px){
  .detail-sert{
    img{
      width: 80%;
    }
  }

.capacity-img{
  width: 80%;
}

.overlap-img{
 img{
  height: 1200px;
 }
}
  .repair-detail{
    width: 80%;
  }

  .extraction-bg{
    width: 80%;
  }

  .repair-bg{
    img{
      width: 80%;
    }
  }

 

}

@media (max-width: 1450px) {

  .aplication__scheme-item--one {
    left: 23.5%;
    top: 410px;
  }

  .aplication__scheme-item--two {
    bottom: 416px;
    right: 25%;
  }

  .aplication__scheme-item--free {
    top: 64%;
    left: 230px;
  }

  .aplication__scheme-item--four {
    top: 63%;
    right: 230px;
  }

  .aplication__scheme-item--five {
    top: 763px;
    left: 24%;
  }

  .aplication__scheme-item--six {
    right: 320px;
    top: 772px;
  }
}


@media (max-width: 1450px) {
  .aplication__text-item {
    margin-top: 10px;
    width: 184px;
    height: 66px;
    text-transform: uppercase;
  }

  .aplication__inner {
    min-height: 900px;
  }
}

@media (max-width: 1400px) {
  .overlap {
    padding-left: 0;
  }

  .overlap__title {
    font-size: 24px;
  }

  .overlap__scheme {
    padding-left: 0;
    flex-wrap: wrap;
  }
}

@media (max-width: 1350px) {

  .certification__inner {
    padding: 0 0 153px 0;
}



  .cleaning__content--capacity {
    margin-left: 0;
  }

  .milling__images,
  .capacity__handing,
  .extraction__inner,
  .cleaning__inner {
    padding-left: 0;
  }

  .effects__inner {
    padding: 230px 0 0 0;
    justify-content: center;
  }

  .benefits__content {
    padding-left: 10px;
    padding-right: 0;
    flex-wrap: wrap;
    justify-content: center;
  }

  .aplication__content {
    flex-wrap: wrap;
    justify-content: center;
  }


  .technology {
    padding-left: 0;
  }

  .repair__inner {
    padding: 126px 0 0 0px;
  }

  .handing {
    padding-left: 0;
  }
}

@media (max-width: 1320px) {
  .aplication__scheme {
    padding-top: 50px;
  }
}

@media (max-width: 1300px) {

  .extractions-img{
    top: 53%;
  }
  
  .footer__inner {
    padding-left: 30px;
  }

  .footer__copyright-inner {
    padding-left: 30px;
  }

  .elimination {
    padding-left: 0;
  }

  .benefits-application {
    padding: 103px 0 113px 0;
  }

  .aplication__scheme-item--one {
    left: 21%;
    top: 410px;
  }

  .aplication__scheme-item--two {
    bottom: 416px;
    right: 21%;
  }

  .aplication__scheme-item--free {
    top: 66.5%;
    left: 150px;
  }

  .aplication__scheme-item--four {
    top: 65.5%;
    right: 150px;
  }

  .aplication__scheme-item--five {
    top: 783px;
    left: 21%;
  }

  .aplication__scheme-item--six {
    right: 280px;
    top: 792px;
  }
}

@media (max-width: 1280px) {
  .scheme__items {
    display: none;
  }

  .aplication__text-span {
    h6 {
      font-size: 16px;
    }
  }

  .scheme__items-resrve {
    padding: 15px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}


@media(max-width:1280px){


  .detail-sert{
    display: none;
  }

  .extractions-img{
    display: none;
  }

.capacity-img{
  display: none;
}

.overlap-img{
  display: none;
}
  .repair-detail{
    display: none;
  }

  .extraction-bg{
    display: none;
  }

  .repair-bg{
    display: none;
  }

  .milling-img{
    img{
      height: 1300px;
    }
  }

}


@media (max-width: 1250px) {
  .extraction__top {
    flex-direction: column;
  }

  .extraction__item--active {
    margin-top: 50px;
  }

  .cleaning__content {
    flex-direction: column;
    align-items: center;
  }

  .cleaning__content-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .aplication__inner {
    min-height: 1200px;
  }

  .technology__inner {
    justify-content: center;
  }

  .technology__application {
    flex-wrap: wrap;
    justify-content: center;
  }
  .technology__title {
    padding-left: 46px;
    font-size: 32px;
  }

  .technology__application {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 1200px) {

.detail{
  top: 450px;
  img{
    width: 800px;
  }
}

.images__inner{
  grid-template-columns: repeat(3, 1fr)
}

   .extractions-img{
    top: 52%;
    img{
      height: 600px;
    }
  }

  .milling-img{
    top: 50px;
  }
  

  .milling {
    background-size: contain;
  }

  .milling__images {
    flex-wrap: wrap;
  }

  .capacity {
    background-position: 50% 100%;
  }

  .extraction__parametrs--avcive {
    margin-right: 10px;
  }

  .extraction__parametrs {
    padding-right: 0;
    padding-left: 10px;
  }

  .cleaning__title {
    font-size: 20px;
  }

  .handing__inner {
    flex-direction: column;
    align-items: center;
  }

  .repair__parameters {
    flex-direction: column;
    align-items: center;
  }

  .partners__inner {
    margin-left: 0;
  }

  .effects__inner {
    flex-direction: column;
    align-items: center;
  }

  .effects__results {
    padding-bottom: 50px;
  }

  .aplication__scheme-item {
    margin: 5px;
  }

  .scheme__items {
    display: none;
  }

  .service__content {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
}

@media (max-width: 1050px) {
  .header__nav--active {
    padding: 10px;
  }
}

@media (max-width: 1024px) {
  .header__nav--active {
    justify-content: space-between;
  }

  .header__list--active {
    gap: 25px;
  }

  .scheme__items-resrve {
    justify-content: center;
  }

  .overlap__top {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 200px;
  }

  .overlap__title {
    &::after {
      display: none;
    }
  }

  .overlap__text {
    margin-top: 45px;
  }
}

@media (max-width: 1000px) {
  .repair__text {
    max-width: 600px;
    margin-left: 100px;
  }

  .benefits-application {
    padding: 103px 0 113px 0;
  }

  .elimination__process-inner {
    flex-direction: column;
    gap: 50px;
    padding-left: 0;
  }

  .elimination__process-item {
    width: 220px;
    &::after {
      top: 115%;
      right: 92px;
      transform: rotate(90deg);
    }
  }
}

@media (max-width: 1000px) {
  .partners__content {
    flex-wrap: wrap;
  }

  .partners__content {
    padding: 15px;
  }
}

@media (max-width: 910px) {

.header__list {
  display: flex;
  justify-content: flex-end;
  gap: 70px;
  list-style: none;
  padding-right: 70px;
}


  .cleaning__top {
    padding-left: 50px;
    flex-direction: column;
    align-items: flex-start;
  }

  .cleaning__text {
    margin-top: 20px;
    padding: 0;
    &::after {
      display: none;
    }
  }
}

@media (max-width:900px){


  .slider{
    margin-left: 0;
  }


  .images__inner{
  grid-template-columns: repeat(2, 1fr)
}
}

@media (max-width: 810px) {

  .flanges__title{
    font-size: 20px;
    padding-left: 0;
  }

  .repair__title {
    margin-left: 0;
  }

  .repair__text {
    margin-left: 0;
    &::before {
      display: none;
    }
  }
}

@media(max-width:850px){
  .capacity-img{
    position: absolute;
    bottom: 27%;
    img{
      height: 800px;
    }
  }
}

@media (max-width: 800px) {

  .pipe__title{
    padding-left: 0;
  }

  .milling__title{
    padding-left: 0;
  }

  .arrow {
    bottom: 10%;
  }

  .footer__telegram {
    padding-left: 200px;
  }

  .service__content {
    flex-direction: column;
    align-items: center;
    gap: 0;
    padding-left: 0;
  }

  .elimination__content {
    padding-left: 0;
    flex-direction: column;
    align-items: center;
  }

  .slider {
    margin-left: 0;
  }

  .detail {
    display: none;
  }

  .header__list {
    justify-content: center;
    gap: 70px;
  }

  

  .phone {
    padding-top: 50px;
    justify-content: center;
  }

  .title {
    font-size: 28px;
  }
}

@media (max-width: 760px) {
  .capacity__title--active {
    margin-left: 0;
    padding: 0;
  }
}

@media (max-width: 710px) {
  .capacity__title {
    margin: 0;
  }

  .overlap__img {
    padding: 0;
  }

  .overlap__top {
    padding-left: 25px;
  }
}

@media (max-width: 700px) {

  .header__list{
    padding-right: 0;
  }

  .certification__images{
    padding: 15px;
  }

  .milling{
    background-image: none;
  }

  .extractions-img{
    top: 52%;
    img{
      height: 600px;
    }
  }
  

  .extraction__title {
    font-size: 20px;
  }

  .overlap__title {
    padding-right: 0;
  }

  .toggle-sidebar {
    display: flex;
    z-index: 50;
  }

  .header__nav {
    z-index: 49;
    transition: all 1s;
    transform: translateY(-1500px);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #b40000;
    &.active {
      transform: translateY(0px);
    }
  }
  .header__list {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding-left: 0;
    &-item {
      .link {
        padding-left: 0;
      }
    }
  }

  .header__nav--active {
    z-index: 49;
    transition: all 1s;
    transform: translateY(-1500px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #b40000;
    &.active {
      transform: translateY(0px);
    }
  }

  .header__list--active {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding-left: 0;
    &-item {
      .link {
        padding-left: 0;
      }
    }
  }

  .logo {
    width: 500px;
    transition: all 500ms;
    &.active {
      opacity: 0;
    }
  }
}

@media (max-width: 650px) {

  .repair__text {
    font-size: 14px;
    width: 100%;
  }

   .capacity-img{
    bottom: 25%;
   
}

  .milling__img{
    img{
      max-width: 300px;
    }
  }

  .handing__title {
    margin-left: 10px;
  }

  .elimination__text {
    font-size: 14px;
  }

  .elimination__text {
    padding: 5px;
    width: 100%;
    font-size: 14px;
  }

  .aplication__content {
    padding-left: 0;
  }

  .slider__text {
    font-size: 16px;
  }

  .slider__item-text {
    width: 326px;
    font-size: 13px;
  }

  .slick-dots {
    left: -10%;

    li {
      button {
        z-index: -1;
        cursor: pointer;
        width: 50px;
      }
    }
  }

  .slider__title {
    font-size: 48px;
  }

  .slider__item {
    &::after {
      right: 0px;
    }

    &::before {
      left: 0;
    }
  }
}

@media (max-width: 600px) {

  .images__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .content__list-text {
    max-width: 300px;
  }

  .content__img {
    img {
      max-width: 320px;
    }
  }

  .content__item-text {
    font-size: 14px;
    width: 350px;
    padding-left: 0;
  }

  .repair__parameters-title {
    font-size: 18px;
  }

  .repair__list-text {
    width: 100%;
    font-size: 14px;
  }

  .rep-img {
    text-align: center;
  }

  .repair__img {
    padding: 0;
    max-width: 320px;
  }

  .repair__parameters-item {
    width: 100%;
  }

  .repair__inner {
    padding-top: 50px;
  }

  .repair__title {
    padding-bottom: 20px;
  }

  .overlap__img {
    padding: 0;
    img {
      width: 320px;
    }
  }

  .overlap__title {
    font-size: 18px;
  }

  .overlap__text {
    width: 100%;
  }

  .overlap__top {
    padding-left: 0;
  }

  .overlap__scheme-inner {
    flex-direction: column;
  }

  .aplication__inner {
    min-height: 1350px;
  }

  .effects__results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .effects__text {
    max-width: 350px;
  }
}

@media (max-width: 520px) {

  .extractions-img{
  top: 55.5%;
    img{
      height: 600px;
    }
  }
  

  .arrow{
    right: 10px;
  }

  .milling__text {
    padding-top: 20px;
    margin-left: 0;
    &::before {
      display: none;
    }
  }

  .milling__text:nth-last-child(-n + 1) {
    padding-bottom: 20px;
  }
}

@media (max-width: 510px) {
  .cleaning__title {
    font-size: 18px;
  }

  .cleaning__text {
    font-size: 14px;
  }

  .overlap__text {
    font-size: 14px;
  }

  .footer__inner {
    display: block;
  }

  .footer__list {
    padding: 0;
  }

  .footer__contetn {
    text-align: left;
    margin-top: 20px;
  }

  .footer__telegram {
    padding-left: 100px;
  }

  .scheme__items-resrve {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .aplication__inner {
    min-height: 1600px;
  }

  .aplication__scheme-item {
    width: 210px;
  }
}

@media (max-width: 500px) {
  
   .capacity-img{
    bottom: 23%; 
}


  .extraction__item--one {
    padding-left: 0;
  }

  .extraction__text {
    margin-left: 0;
    &::before {
      display: none;
    }
  }

  .extraction__item--active {
    flex-direction: column;
    align-items: center;
  }

  .extraction__parametrs {
    padding: 0;
    margin: 0;
    width: 170px;
  }

  .partners__title {
    padding: 0;
    text-align: center;
  }

  .partners__item {
    justify-content: center;
    width: 250px;
  }

  .partners__content {
    justify-content: center;
  }

  .partners__text {
    text-align: center;
    font-size: 14px;
  }

  .effects__inner {
    padding: 50px 0 0 0;
  }

  .effects__title {
    padding-bottom: 0;
  }

  .title {
    font-size: 24px;
  }

  .technology__text {
    font-size: 14px;
  }

  .technology__title {
    margin-top: 20px;
    line-height: 20px;
    font-size: 18px;
  }

  .service__logo {
    width: 300px;
    text-align: center;
    img {
      width: 300px;
    }

    &-text {
      text-align: left;
    }
  }

  .service__text {
    margin-top: 50px;
  }

  .slider__dotshead-item {
    font-size: 14px;
  }

  .phone {
    padding-top: 250px;
    justify-content: center;
  }

  .link {
    font-size: 18px;
    padding-left: 10px;
  }

  .header__list {
    &-item {
      .link {
        padding-left: 0;
      }
    }
  }

  .logo {
    width: 300px;
  }
  .slick-dots {
    li {
      left: -15%;
      padding-left: 5px;
      button {
        z-index: -1;
        cursor: pointer;
        width: 42px;
      }
    }
  }
}

@media (max-width: 470px) {
  .service__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .service__logo-text {
    font-size: 16px;
    margin-left: 15px;
  }
}

@media (max-width: 450px) {
  .technology__application-item {
    max-width: 360px;
    height: 100%;
    margin-left: 15px;
  }

  .technology__inner {
    margin-left: 18px;
  }

  .technology__img {
    img {
      width: 300px;
    }
  }

  .technology__wow {
    img {
      height: 180px;
      width: 35px;
    }
  }

  .technology__title {
    padding-left: 10px;
  }

  .technology__text {
    padding-left: 10px;
    font-size: 14px;
  }

  .service__content {
    padding-left: 25px;
  }

  .service__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .service__logo-text {
    display: flex;
    justify-content: center;
    width: 300px;
  }

  .service__text {
    font-size: 12px;
  }

  .slider__dotshead {
    display: none;
  }

  .slider__text {
    font-size: 14px;
  }

  .slick-dots {
    display: none;
  }

  .slider__title {
    font-size: 36px;
  }

  .slider__item-text {
    width: 240px;
    font-size: 12px;
  }

  .title {
    font-size: 20px;
  }
}

@media (max-width: 410px) {
  .extraction__title {
    width: 100%;
  }

  .content__img {
    img {
      max-width: 280px;
    }
  }

  .content__item-title {
    font-size: 18px;
    width: 260px;
  }

  .content__item-text {
    width: 260px;
  }

  .handing__title {
    font-size: 18px;
    margin-left: 0;
    text-align: center;
  }

  .handing__text {
    margin-left: 20px;
    &::before {
      display: none;
    }
  }

  .capacity__text {
    margin-left: 20px;
    &::before {
      display: none;
    }
  }

  .footer__telegram {
    padding-left: 10px;
  }

  .aplication__inner {
    height: 2150px;
  }

  .aplication__scheme-logo {
    img {
      width: 200px;
    }
  }
}

@media (max-width: 400px) {
  .effects__list {
    padding: 55px 0px 60px 0;
  }

  .effects__text {
    max-width: 300px;
  }

  .technology__list {
    max-width: 300px;
  }

  .technology__application-img {
    img {
      max-width: 280px;
    }
  }

  .technology__application-item {
    margin-left: 0;
  }

  .technology__img {
    img {
      width: 300px;
    }
  }

  .overlap__img {
    display: none;
  }
}

@media (max-width: 360px) {

  .content__img{
    padding: 0;
  }

  .cleaning__item{
    width: 300px;
  }

  .content__list {
    text-align: center;
    padding:0;
    list-style: none;
  }

  .rep-img {
    img {
      max-width: 260px;
    }
  }

  .repair__list {
    list-style: none;
    padding: 0;
  }

  .repair__list-item {
    padding: 5px;
  }
}
