@media (max-width: 1550px) {
  .aplication__scheme-item--one {
    left: 25.5%;
    top: 410px;
  }

  .aplication__scheme-item--two {
    bottom: 416px;
    right: 25%;
  }

  .aplication__scheme-item--free {
    top: 66.5%;
    left: 270px;
  }

  .aplication__scheme-item--four {
    right: 270px;
  }

  .aplication__scheme-item--five {
    left: 26%;
  }

  .aplication__scheme-item--six {
    right: 390px;
  }
}

@media (max-width: 1460px) {
  .detail-sert {
    img {
      width: 80%;
    }
  }

  .capacity-img {
    width: 80%;
  }

  .overlap-img {
    img {
      height: 1200px;
    }
  }
  .repair-detail {
    width: 80%;
  }

  .extraction-bg {
    width: 80%;
  }

  .repair-bg {
    img {
      width: 80%;
    }
  }
}

@media (max-width: 1440px) {

  .detail{
      top: -100px;
  }

  .phone{
    padding-top: 65px;
  }

  .aplication__scheme-item--one {
    left: 22.5%;
    top: 410px;
  }

  .aplication__scheme-item--two {
    bottom: 416px;
    right: 23%;
  }

  .aplication__scheme-item--free {
    top: 66.5%;
    left: 200px;
  }

  .aplication__scheme-item--four {
    top: 65%;
    right: 190px;
  }

  .aplication__scheme-item--five {
    top: 790px;
    left: 22.5%;
  }

  .aplication__scheme-item--six {
    right: 26%;
    top: 796px;
  }

  .aplication__inner {
    min-height: 900px;
  }
}

@media (max-width: 1400px) {
  .overlap {
    padding-left: 0;
  }

  .overlap__title {
    font-size: 24px;
  }

  .overlap__scheme {
    padding-left: 0;
    flex-wrap: wrap;
  }
}

@media(max-width:1366px){
  .aplication__scheme-item--one {
    left: 24.5%;
    top: 410px;
  }

  .aplication__scheme-item--two {
    bottom: 416px;
    right: 24%;
  }

  .aplication__scheme-item--free {
    top: 66.5%;
    left: 200px;
  }

  .aplication__scheme-item--four {
    top: 65%;
    right: 190px;
  }

  .aplication__scheme-item--five {
    top: 790px;
    left: 23.5%;
  }

  .aplication__scheme-item--six {
    right: 27%;
    top: 796px;
  }

}

@media (max-width: 1350px) {

   .detail {
 
    img {
      max-width: 800px;
    }
  }

  .partners__inner{
    margin: 50px;
  }

  .elimination {
    padding: 10px;
  }

  .certification__inner {
    padding: 0 0 153px 0;
  }

  .cleaning__content--capacity {
    margin-left: 0;
  }


  .effects__inner {
    padding: 230px 0 0 0;
    justify-content: center;
  }

  .benefits__content {
    padding-left: 10px;
    padding-right: 0;
    flex-wrap: wrap;
    justify-content: center;
  }

  .aplication__content {
    flex-wrap: wrap;
    justify-content: center;
  }

  .technology {
    padding-left: 0;
  }

  .repair__inner {
    padding: 126px 0 0 0px;
  }

  .handing {
    padding-left: 0;
  }
}

@media (max-width: 1330px) {
  .aplication__scheme {
    padding-top: 0;
  }
  .scheme__items {
    display: none;
  }

  .aplication__scheme-logo {
    display: none;
  }

  .scheme__items-resrve {
    display: flex;
    justify-content: center;
    img {
      width: 800px;
    }
  }
}

@media (max-width: 1280px) {

  .detail{
    top: 20%;
  }

  .aplication__text-span {
    h6 {
      font-size: 16px;
    }
  }
}

@media (max-width: 1280px) {
  .detail-sert {
    display: none;
  }

  .extractions-img {
    display: none;
  }

  .capacity-img {
    display: none;
  }

  .overlap-img {
    display: none;
  }
  .repair-detail {
    display: none;
  }

  .extraction-bg {
    display: none;
  }

  .repair-bg {
    display: none;
  }

  .milling-img {
    img {
      height: 1300px;
    }
  }
}

@media (max-width: 1250px) {
  .extraction__top {
    align-items: center;
    flex-direction: column;
  }

  .extraction__item--active {
    margin-top: 50px;
  }

  .cleaning__content {
    flex-direction: column;
  }

  .cleaning__content-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .technology__inner {
    justify-content: center;
  }

  .technology__images {
    gap: 24px;
  }

  .technology__application,
  .technology__images {
    flex-wrap: wrap;
    justify-content: center;
  }

  .technology__title {
    padding-left: 46px;
    font-size: 32px;
  }
}

@media (max-width: 1200px) {

  .benefits-application {
    padding: 103px 0 200px 0;
  }

  .footer__list {
    padding: 0;
  }

  .footer__inner {
    padding: 39px 30px;
  }


 

  .images__inner {
    grid-template-columns: repeat(3, 1fr);
  }

  .extractions-img {
    top: 52%;
    img {
      height: 600px;
    }
  }

  .milling-img {
    top: 50px;
  }

  .milling {
    background-size: contain;
  }

  .milling__images {
    flex-wrap: wrap;
  }

  .capacity {
    background-position: 50% 100%;
  }

  .extraction__parametrs--avcive {
    margin-right: 10px;
  }

  .extraction__parametrs {
    padding-right: 0;
    padding-left: 10px;
  }

  .cleaning__title {
    font-size: 20px;
  }

  .handing__inner {
    flex-direction: column;
    align-items: center;
  }

  .repair__parameters {
    flex-direction: column;
    align-items: center;
  }

  .effects__inner {
    display: block;
  }

  .effects__results {
    padding-bottom: 50px;
  }

  .aplication__scheme-item {
    margin: 5px;
  }

  .scheme__items {
    display: none;
  }

  .service__content {
    flex-direction: column;
    align-items: center;
    gap: 0;
    padding-left: 0;
  }
}

@media (max-width: 1050px) {
  .header__nav {
    padding: 10px;
  }

  .phone{
    padding-top: 0;
  }
}

@media (max-width: 1024px) {
  .detail {
    top: 0;
  }

  .header__nav {
    justify-content: space-between;
  }

  .header__list {
    gap: 25px;
  }

  .scheme__items-resrve {
    justify-content: center;
  }

  .overlap__top {
    flex-direction: column;
    align-items: center;
  }


  .overlap__title {
    text-align: center;
    padding-right: 0;
    &::after {
      display: none;
    }
  }

  .overlap__text {
    position: relative;
    &::before{
    content: "";
    position: absolute;
    left: -35px;
    width: 26px;
    height: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/arrow-orange.svg);
    }
    margin-top: 45px;
  }
}

@media (max-width: 1000px) {
  .repair__text {
    max-width: 600px;
    margin-left: 100px;
  }

  .elimination__process-inner {
    flex-wrap: wrap;
    gap: 50px;
  }

  .elimination__process-item {
    text-transform: uppercase;
    gap: 19px;
    text-align: left;
    flex-direction: row;
    &::after {
      display: none;
    }

    &::before {
      position: absolute;
      content: "";
      width: 25px;
      height: 20px;
      background-image: url(../images/arrow-process.svg);
      background-repeat: no-repeat;
      left: -33px;
      top: 40%;
      background-size: cover;
    }
  }

  .partners__content {
    flex-wrap: wrap;
  }

  .partners__content {
    padding: 15px;
  }
}

@media (max-width: 910px) {
  .header__list {
    display: flex;
    justify-content: flex-end;
    gap: 70px;
    list-style: none;
    padding-right: 70px;
  }

  .cleaning__top {
    padding-left: 50px;
    flex-direction: column;
    align-items: center;
  }

  .cleaning__title{
    text-align: center;
  }

  .cleaning__text {
    margin-top: 20px;
    padding: 0;
    
    &::after{
      left: -35px;
      width: 26px;
      height: 20px;
      background-size: cover;
    }
  }
}

@media (max-width: 900px) {
  .images__inner {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 810px) {
  .flanges__title {
    font-size: 20px;
    padding-left: 0;
  }

  .repair__title {
    margin-left: 0;
    text-align: center;
  }

  .repair__text {
    margin: auto;
    &::before {
    background-size: cover;
    width: 26px;
    height: 20px;
    left: -30px;
    }
  }
}

@media (max-width: 850px) {
  .capacity-img {
    position: absolute;
    bottom: 27%;
    img {
      height: 800px;
    }
  }
}

@media (max-width: 800px) {
  .header-sec {
    background-image: url(../images/phone_head.jpg);
    background-position: 50% 0%;
  }

  .phone {
    font-size: 18px;
    padding-top: 0;
    justify-content: flex-end;
  }

  .detail {
    display: none;
  }

  .pipe__title {
    padding-left: 0;
  }

  .milling__title {
    padding-left: 0;
  }

  .arrow {
    bottom: 10%;
  }

  .footer__telegram {
    padding-left: 200px;
  }

  .elimination__content {
    padding-left: 0;
    flex-direction: column;
    align-items: center;
  }

  .header__list {
    justify-content: center;
    gap: 70px;
  }

  .title {
    font-size: 28px;
  }
}

@media (max-width: 760px) {

  .toggle-sidebar {
    display: flex;
    z-index: 50;
  }

  
  .burger{
    display: block;
  }

  .header__nav {
    z-index: 49;
    transition: all 1s;
    transform: translateY(-1500px);
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #b40000;
    &.active {
      transform: translateY(0px);
    }
  }
  .header__list {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding-left: 0;
    padding-right: 0;
    &-item {
      .link {
        padding-left: 0;
      }
    }
  }


  .header__logo{
    img{
      width: 260px;
    }
  }

  
  .slick-dots{
    display: none;
  }

  .slider__dotshead {
    display: none;
  }


  .capacity__title--active {
    margin-left: 0;
    padding: 0;
  }
  
  .slider-in{
    display: none;
  }

  .slider{
    margin: 100px 10px;
  }

}

@media (max-width: 710px) {
  .capacity__title {
    margin: 0;
  }

  .overlap__img {
    padding: 0;
  }

  .overlap__top {
    padding-left: 25px;
  }
}

@media (max-width: 700px) {

  .header__inner{
    justify-content: center;
  }

  .container{
    padding: 0 10px;
  }

  .extraction__item--active{
    gap: 40px;
  }


  .cross{
    display: block;
  }

  .popup-btn{
    display: none;
  }

  .phone-sert__inner{
    display: block;
  }


  .main-bg{
    padding-top: 0;
  }

  .certification__title{
    display: none;
  }

  .images__inner{
    display: none;
  }

  .main-bg {
    background-image: url(../images/phone_sert.png);
}



  .flanges__title{
    text-align: center;
    padding-top: 38px;
  }

  .cleaning{
    background-image: none;
  }

  .cleaning__phone-content {
    display: flex;
    justify-content: center;
  }

  .cleaning__content--phone{
    display: none;
  }

  .content__item-title{
    font-size: 20px;
    text-align: center;
     color: #1D1D1B;
  }


  .phone__content{
    transform: translateX(-1000px);
    top: 0;
    left: 0;
    width: 100%;
    z-index: 48;
    height: 100%;
    overflow: auto;
    background-color: #fff;

    &.active{
      display: flex !important;
      position: fixed;
      transform: translateX(0);
    }
  }

  .cleaning__top{
    padding: 0;
  }

  .cleaning__inner {
    padding-top: 40px
}

  .handing__text{
    &::before{
      width: 26px;
      height: 20px;
      background-size: cover;
      left: -35px;
      top: 0;
    }
  }

    .title{
      text-align: center;
      font-size: 20px;
    }

  .repair__text {
    max-width: 520px;
    font-size: 14px;
  }


  .elimination__title {
    text-align: center;
    font-size: 20px;
  }

  .effects__title {
    margin-bottom: 20px;
  }

  .aplication__scheme{
    padding: 50px;
  }

  .aplication__inner {
    background: none;
    backdrop-filter: blur(0);
  }

  .benefits {
    background: none;
    backdrop-filter: blur(0);
  }

  .benefits__content {
    flex-direction: column;
    justify-content: flex-start;
    padding: 42px;
    gap: 18px;
  }

  .benefits__title {
    padding: 0;
    text-align: center;
    font-size: 20px;
  }

  .benefits__item {
    display: flex;
    align-items: center;
  }

  .benefits__img {
    margin-right: 64px;
    margin-bottom: 0;
    img {
      width: 42px;
      height: 42px;
    }
  }

  .benefits__text {
    font-size: 14px;
    line-height: 17px;
    max-width: 100%;
    text-align: left;
  }

  .technology__img {
    img {
      width: 163px;
    }
  }

  .technology__application {
    flex-direction: column-reverse;
  }

  .phone__logo {
    display: block;
  }

  .technology__wow {
    display: none;
  }

  .technology__title {
    display: none;
  }

  .technology__text--regular {
    padding-top: 55px;
  }

  .technology__inner {
    padding-top: 0;
  }

  .slider__text {
    text-align: right;
  }

  .service__content {
    display: block;
  }

  .service__logo {
    width: 100%;
    padding-top: 67px;
    img {
      width: 127px;
    }
  }

  .service__text {
    margin-top: 44px;
  }

  .service__logo-text {
    display: none;
  }

  .service__phone-text {
    display: block;
  }

  .header__text {
    display: block;
  }

  .phone {
    padding-right: 10px;
  }

  .header__list {
    padding-right: 0;
  }

  .certification__images {
    padding: 15px;
  }

  .milling {
    background-image: none;
  }

  .extractions-img {
    top: 52%;
    img {
      height: 600px;
    }
  }

  .extraction__title {
    font-size: 20px;
  }

  .overlap__title {
    padding-right: 0;
  }



  .logo {
    width: 500px;
  }
}

@media (max-width: 650px) {
  .repair__text {
    font-size: 14px;
    width: 100%;
  }

  .capacity-img {
    bottom: 25%;
  }

  .milling__img {
    img {
      max-width: 300px;
    }
  }

  .handing__title {
    margin-left: 10px;
  }

  .elimination__text {
    font-size: 14px;
  }

  .elimination__text {
    padding: 5px;
    width: 100%;
    font-size: 14px;
  }

  .slider__text {
    font-size: 16px;
  }

  .slider__item-text {
    width: 326px;
    font-size: 13px;
  }

  .slick-dots {
    left: -10%;

    li {
      button {
        z-index: -1;
        cursor: pointer;
        width: 50px;
      }
    }
  }

  .slider__title {
    font-size: 48px;
  }

  .slider__item {
    &::after {
      right: 0px;
    }

    &::before {
      left: 0;
    }
  }

.milling-img{
  display: none;
}

}

@media (max-width: 600px) {

  .repair__text{
    font-size: 14px;
    max-width: 320px;
  }

  .elimination__inner {
    background: linear-gradient(97.72deg, rgba(66, 86, 103, 0.14) 0%, rgba(32, 41, 50, 0.16) 100%);
    backdrop-filter: blur(40px);
    border-radius: 8px;
  }

  .elimination__content {
    margin-top: 0;
    gap: 0;
    background: none;
    backdrop-filter: blur(0);
  }

  .elimination__process {
    background: none;
    backdrop-filter: blur(0);
  }

  .elimination__text-title {
    display: none;
  }

  .elimination__process-inner {
    padding-left: 40px;
  }

  .benefits-application {
    padding-bottom: 300px;
  }


  .content__list-text {
    max-width: 300px;
  }

  .content__img {
    img {
      max-width: 320px;
    }
  }

  .content__item-text {
    font-size: 14px;
    width: 303px;
    padding-left: 0;
  }

  .repair__parameters-title {
    font-size: 18px;
  }

  .repair__list-text {
    width: 100%;
    font-size: 14px;
  }

  .rep-img {
    padding-bottom: 23px;
    text-align: center;
  }

  .repair__img {
    padding: 0;
    max-width: 320px;
  }

  .repair__parameters-item {
    width: 100%;
  }

  .repair__inner {
    padding-top: 50px;
  }

  .repair__title {
    padding-bottom: 20px;
  }

  .overlap__img {
    padding: 0;
    img {
      width: 320px;
    }
  }

  .overlap__title {
    font-size: 18px;
  }

  .overlap__text {
    width: 100%;
  }

  .overlap__top {
    padding-left: 0;
  }

  .overlap__scheme-img{
    width: 40px;
    height: 40px;
  }

  .overlap__scheme-item{
    align-items: center;
    font-size: 14px;
  }

  .overlap__scheme-text{
    font-size: 14px;
  }

  .effects__results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .effects__text {
    max-width: 100%;
  }

  .milling__images{
    img{
      max-width: 190px;
    }
  }
}

@media (max-width: 540px) {

  .handing__text{
    font-size: 14px;
    margin-left: 50px;
  }

  .cleaning__text{
    max-width: 320px;
  }

  .scheme__items-resrve {
    padding: 24px 14px 12px 18px;
    background: linear-gradient(97.72deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%);
    backdrop-filter: blur(40px);
    border-radius: 8px;
    img {
      width: 100%;
    }
  }

  .aplication__title {
    text-align: center;
    font-size: 20px;
  }

  .aplication__content {
    align-items: center;
    flex-direction: column;
    gap: 18px;
  }

  .aplication__item {
    display: flex;
    gap: 69px;
  }

  .aplication__text-item {
    text-align: left;
    margin-top: 0;
  }

  .aplication__img-item {
    img {
      width: 36px;
      height: 36px;
    }
  }

  .header__text {
    padding: 100px 20px 0 20px;
  }

  .extractions-img {
    top: 55.5%;
    img {
      height: 600px;
    }
  }

  .arrow {
    right: 10px;
  }

  .milling__text {
    padding-top: 20px;

    &::before {
      background-size: cover;
      width: 26px;
      height: 20px;
      left: -35px;
    }
  }

  .milling__text:nth-last-child(-n + 1) {
    padding-bottom: 20px;
  }
}

@media (max-width: 510px) {

  .overlap__text {
    max-width: 320px;
    font-size: 14px;
  }


  .cleaning__title {
    font-size: 18px;
  }

  .cleaning__text {
    font-size: 14px;
  }

  .overlap__text {
    font-size: 14px;
  }

  .footer__copyright-inner{
    padding-left: 0;
    justify-content: center;
  }

   .footer__telegram{
    display: none;
   }

 

  .footer__logo {
    img {
      width: 127px;
    }
  }

  .footer__telegram {
    padding-left: 100px;
  }

  .scheme__items-resrve {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .aplication__scheme-item {
    width: 210px;
  }
}

@media (max-width: 500px) {

  
  .phone-det{
    display: block;
  }

  .aplication{
    z-index: 2;
  }

  .effects{
    z-index: -1;
  }

  .benefits-application{
    background-image: url(../images/benefits_phone.png);
  }

  .stop-service__logo-phone{
    display: block;
  }


.overlap {
    padding-top: 40px;
}


  .milling{
    background-image: url(../images/milling_phone.png);
    background-position: 50%;
  }


      .repair__list{
      padding-right: 10px;
    }

  
  .rep-img {
    img {
      max-width: 284px;
    }
  }

  .capacity{
    background-image: url(../images/capacity_pnohe.png);
    background-position: 0% -100%;
  }

  .pipe{
    background-image: url(../images/pipe__phone.png);
    background-color: #b40000;
  }

  .milling__title {
    margin-bottom: 0;
  }

  .milling__inner {
    padding-top: 0;
  }

  .milling__text{
    max-width: 308px;
    margin: auto;
  }

  .rep-img{
    display: flex;
    justify-content: center;
  }

  .repair__img-phone{
    display: flex;
    justify-content: center;
  } 

  .repair__img.flang{
    display: none;
  }

  .flanges__inner{
    padding-bottom: 121px;
  }
  
  .flanges__title{
    color: #E42D12;
  }

   .flanges{
    background-image: url(../images/flanges_phone.png);
    color: #1D1D1B;
  }

  .capacity__title--active{
    color: #fff;
    padding-bottom: 12px;
  }

  .cleaning__content--capacity{
    color: #fff;
    background: none;
    backdrop-filter: none;
  }
  
  .capacity__not-phone{
    display: none;
  }

  .capacity__phone-bg{
    display: block;
    background-image: url(../images/phone_capacity.png);
    background-size: cover;
    background-color: rgba(180, 0, 0, 1);
    background-repeat: no-repeat;
    background-position: center;
  }

  .capacity__text{
    margin-left: 69px;
    &::before{
      width: 26px;
      height: 20px;
      background-size: cover;
      left: -35px;
      top: 0;
    }
  }

  .capacity__content{
    padding-bottom: 0;
  }

  .extraction__title{
    font-size: 20px;
    text-align: center;
    padding-top: 39px;
  }

  .extraction__item--active {
    margin-top: 0;
}

  .capacity-img {
    bottom: 23%;
  }

  .extraction__item--one {
    padding-left: 0;
  }

  .extraction__text {
    max-width: 321px;
    margin: auto;
    &::before {
      width: 26px;
      height: 20px;
      left: -35px;
      top: 60px;
      background-size: cover;
    }
  }

  .extraction__parametrs-img{
    justify-content: center;
    display: flex;
    align-items: flex-end;
    padding-bottom: 5px;
    img{
      width: 50px;
      height: 50px;
    }

    .active{
      width: 60px;
      height: 60px;
    }
  }

  .extraction__parametrs-text, .extraction-span{
    padding: 0;
    span{
      font-size: 14px;   
    }
    font-size: 14px;
    line-height: 100%;
    font-weight: 500;
  }

  .extraction__parametrs {
    padding: 0;
    margin: 0;
  }

  .partners__title {
    padding: 0;
    text-align: center;
  }

  .partners__item {
    width: 100%;
  }

  .partners__inner{
    min-width: 314px;
    margin: 50px 18px 18px 50px;
  }

  .detail-partners{
    display: none;
  }

  .partners__content {
    justify-content: center;
  }

  .partners__text {
    font-size: 14px;
  }

  .effects__inner {
    padding: 50px 0 0 0;
  }

  .effects__title {
    padding-bottom: 0;
  }

  .technology__text {
    font-size: 14px;
  }

  .technology__title {
    margin-top: 20px;
    line-height: 20px;
    font-size: 18px;
  }

  .service__text {
    margin-top: 50px;
  }

  .slider__dotshead-item {
    font-size: 14px;
  }

  .phone {
    padding-right: 60px;
  }

  .link {
    font-size: 18px;
    padding-left: 10px;
  }

  .header__list {
    &-item {
      .link {
        padding-left: 0;
      }
    }
  }

 
  .slick-dots {
    li {
      left: -15%;
      padding-left: 5px;
      button {
        z-index: -1;
        cursor: pointer;
        width: 42px;
      }
    }
  }
}

@media (max-width: 450px) {

  .cleaning__phone-content {
    justify-content: start;
  }

  .service {
    background-position: 20% 0%;
  }

  .technology__application-item {
    max-width: 360px;
    height: 100%;
    margin-left: 15px;
  }

  .technology__inner {
    margin-left: 18px;
  }

  .technology__wow {
    img {
      height: 180px;
      width: 35px;
    }
  }

  .technology__title {
    padding-left: 10px;
  }

  .technology__text {
    padding-left: 10px;
    font-size: 14px;
  }


  .service__text {
    font-size: 12px;
  }

  .slider__text {
    font-size: 14px;
  }

  .slick-dots {
    display: none;
  }

  .slider__title {
    font-size: 36px;
  }

  .slider__item-text {
    width: 210px;
    font-size: 10px;
  }

  .title {
    font-size: 20px;
  }
}


@media (max-width: 410px) {

  .overlap__text {
    &::before{
      display: none;
    }
  }


  .extraction__title {
    width: 100%;
  }

  .content__img {
    img {
      max-width: 280px;
    }
  }

  .content__item-title {
    font-size: 18px;
    width: 260px;
  }

  .content__item-text {
    width: 260px;
  }

  .handing__title {
    font-size: 18px;
    margin-left: 0;
    text-align: center;
  }

  .handing__text {
    margin-left: 20px;
    &::before {
      display: none;
    }
  }

  .capacity__text {
    margin-left: 20px;
    &::before {
      display: none;
    }
  }

  .footer__telegram {
    padding-left: 10px;
  }

  .aplication__scheme-logo {
    img {
      width: 200px;
    }
  }
}

@media (max-width: 400px) {


    .rep-img {
    img {
      max-width: 230px;
    }
  }

  .cleaning__phone-item::after {
    display: none;
}

  .cleaning__text::after {
   display: none;
}

  .overlap__scheme-inner{
    flex-direction: column;
  }

  .technology__application-item {
    max-width: 300px;
  }

  .effects__list {
    padding: 55px 0px 60px 0;
  }

  .effects__text {
    max-width: 300px;
  }

  .technology__list {
    max-width: 300px;
  }

  

  .technology__application-img {
    img {
      max-width: 280px;
    }
  }

  .technology__application-item {
    margin-left: 0;
  }

  .overlap__img {
    display: none;
  }
}



@media (max-width: 360px) {

  .partners__inner {
    min-width: 314px;
    margin: 0;
}

.elimination__process-inner{
  padding-left: 5px;
}

.elimination__process-item::before {
    display: none;
}

.footer__inner{
  padding: 5px;
}

  .milling__text{
    &::before{
      display: none;
    }
  }

    .handing__inner{
    padding: 10px;
  }

  .repair__parameters{
    padding: 10px;
  }

  .repair__inner{
    padding: 10px;
  }

  .aplication__text-item {
    width: 100%;
  }

  .content__img {
    padding: 0;
  }

  .cleaning__item {
    width: 300px;
  }

  .content__list {
    text-align: center;
    padding: 0;
    list-style: none;
  }

    .repair__inner{
      padding: 5px;
    }

  .repair__list {
    list-style: none;
    padding: 0;
  }

  .repair__list-item {
    padding: 5px;
  }
}
