.partners {
  padding-top: 40px;
  padding-bottom: 31px;
  position: relative;
  z-index: 10;
  background-image: url(../images/vector-partners.png);
  background-position: -170% 50%;


}

.partners__inner {
  background: linear-gradient(97.72deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%);
  backdrop-filter: blur(40px);
  border-radius: 8px;
  border: 1px solid rgba(29, 29, 27, 0);
}

.partners__title {
  padding: 33px 0 10px 27px;
}

.partners__content {
  display: flex;
  justify-content: space-between;
  padding-left: 56px;
  padding-right: 43px;
  padding-bottom: 14px;
  padding: 0 43px 14px 56px;
}

.partners__text {
  font-weight: 600;
  font-size: 16px;
  line-height: 200%;
  color: #1d1d1b;
}

.detail-partners {
  position: absolute;
  right: 0;
  bottom: -330px;
  z-index: -1;
}


