.repair {
background-color: #b40000;
  color: #FFFFFF;
  position: relative;
background: radial-gradient(97.32% 94.95% at 65.35% 7.19%, #B40000 0%, #DD270F 52.28%, #B40000 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
z-index: -1;
}

.repair-bg{
  position: absolute;
  top: -53%;
  left: 0;
  z-index: -1;
}

.repair__inner {
  padding: 126px 0 0 0;
}
.repair__title {


  padding-bottom: 81px;
  margin-left: 55px;
  font-weight: 900;
font-size: 36px;
line-height: 125%;
}


.repair__text {
  width: 791px;
  margin-left: 180px;
  position: relative;
   &::before{
    content: "";
    background-image: url(../images/arrow-repair.svg);
    width: 85px;
    height: 68px;
    background-repeat: no-repeat;
    position: absolute;
    left: -100px;
  }
}

.repair__parameters {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.repair__parameters-item {
  background: linear-gradient(97.72deg, rgba(66, 86, 103, 0.14) 0%, rgba(32, 41, 50, 0.16) 100%);
  backdrop-filter: blur(40px);
  border-radius: 8px;
  margin-top: 28px;
  max-width: 572px;
}

.repair__parameters-title {
  text-align: center;
  text-transform: uppercase;
  padding: 37px 0 18px 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 125%;
}

.repair__list-text {
  line-height: 125%;
  padding-bottom: 30px;
  width: 470px;
}

.repair__img {
  padding: 0 29px 13px 29px;
}

.repair__list {
  padding-bottom: 15px;
}



.handing{
  padding-bottom: 165px;
  z-index: 10;
}

.handing__title {
  padding: 86px 0 40px 0;
  margin-left: 70px;
  font-weight: 900;
  font-size: 36px;
  line-height: 125%;
  text-transform: uppercase;
}

.handing__inner {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 24px;
}

.handing__text {
  max-width: 347px;
  margin-left: 110px;
  position: relative;
   &::before{
    content: "";
    background-image: url(../images/arrow-repair.svg);
    width: 85px;
    height: 68px;
    background-repeat: no-repeat;
    position: absolute;
    left: -94px;
    top: -15px;
  }
}



.handing__content {
  margin-top: 35px;
  background: linear-gradient(97.72deg, rgba(66, 86, 103, 0.14) 0%, rgba(32, 41, 50, 0.16) 100%);
  backdrop-filter: blur(40px);
  border-radius: 8px;

}

.repair-detail{
  position: absolute;
  right: 0;
  top: 410px;
  z-index: -1;
}




