.service{
  position: relative;
  background-image: url(../images/service-bg.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
  padding-bottom: 87px;
}

.service__content {
  display: flex;
  gap: 132px;
}


.service__logo {
  padding-top: 302px;
  width: 443px;
}

.service__logo-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: #1D1D1B;
  margin-top: 37px;
}

.service__text {
  margin-top: 157px;
  font-weight: 400;
  font-size: 16px;
}


.service__text-item {
  margin-bottom: 60px;
  max-width: 521px;
  
}

.service__text-title {

  font-weight: 900;
  font-size: 24px;
  line-height: 125%;
  color: #E42D12;
  text-transform: uppercase;
}
.service__text-content {
  font-size: 16px;
  line-height: 125%;
  font-weight: 400;
  line-height: 125%;
  color: #1D1D1B;
}

.service__phone-text{
  display: none;
}

.slider__title--active{
  font-size: 52px;
  display: flex;
  padding: 53px 10px 15px 10px;
  justify-content: flex-end;
  span{
    font-size: 96px;
  }
  p{
    line-height: 72%;
    text-align: right;
  }
}

.phone__logo {
  display: none;
  padding: 39px;
}

.phone__logo-img {
  max-width: 127px;
  height: 40px;
}