.slider {
  margin-top: 179px;
  max-width: 702px;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(20px);
  border-radius: 10px;
  cursor: pointer;
  margin-left: 137px;
  position: relative;

}

.slider__title {

  font-weight: 900;
  font-size: 80px;
  line-height: 125%;

  color: #e42d12;
}
.slider__text {
  font-weight: 600;
  font-size: 20px;
  line-height: 125%;
  text-align: center;
  color: #1d1d1b;
   
}

.slick-dots{
  position: absolute;
  display: flex;
  list-style: none;
  left: -35px;
  opacity: 0;
   

  li{
    
    button{
      z-index: -1;
      cursor: pointer;
      width: 70px;
    }
  }
  
}

.slider__item  {
  position: relative;
  display: block;

  margin: 22px 0 37px 0;
  &.active{
    display: block;
  }

  &::before{
    left: 50px;
    bottom: 0;
    position: absolute;
    content: "";
    height: 130px;
    width: 60px;
    background-image: url(../images/arrow-left.svg);
  }
   &::after{
    right: 50px;
    bottom: 0;
    position: absolute;
    content: "";
    height: 130px;
    width: 60px;
    background-image: url(../images/arrow-right.svg);
  }
}

.slider__item-title {
  font-weight: 900;
  font-size: 36px;
  line-height: 125%;
  color: #e42d12;
}
.slider__item-text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  width: 426px;
  font-weight: 700;
  font-size: 16px;
  line-height: 166.4%;
  margin: auto;
  height: 130px;
}

.slider__dotshead {
  display: flex;
  justify-content: space-around;
  padding-bottom: 27px;
  z-index: 5;
  &-item {
    font-weight: 900;
    font-size: 16px;
    line-height: 125%;
    color: #1d1d1b;
    &:hover{
      color: #e42d12;
    }
  }
}
