.technology {
  background: #B40000;
  background-image: url(../images/technology-bg.png);
  background-size: cover;
  background-position: 50% 30%;
  background-repeat: no-repeat;
  &__inner {
    display: flex;
    padding-top: 117px;
  }
}

.technology__about {
  color: #ffffff;
  position: relative;
}

.technology__wow {
  img{
 width: 51px;
  height: 230px;
  }
}

.technology__text {
  padding-left: 48px;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  padding-left: 50px;
}

.technology__text--bold {
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
}
.technology__title {
  font-weight: 900;
  font-size: 64px;
  line-height: 78px;
  text-transform: lowercase;
  padding-left: 39px;
}

.technology__text--regular {
  max-width: 594px;
  padding-top: 15px;
}

.technology__application {
  display: flex;
  align-items: center;
  padding-top: 35px;
  gap: 25px;
  z-index: 5;
  padding-bottom: 158px;
}
.technology__application-item {
  text-align: center;
  width: 360px;
  color: #ffffff;
  background: linear-gradient(97.72deg, rgba(66, 86, 103, 0.14) 0%, rgba(32, 41, 50, 0.16) 100%);
  backdrop-filter: blur(40px);

  border-radius: 8px;
  height: 326px;
}
.technology__application-title {
  padding: 37px 0 15px 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

.technology__list {
  text-align: left;
  padding: 10px 0px 22px 48px !important;
}
.technology__list-item {
  padding-bottom: 20px;
}
.technology__list-text {
  line-height: 125%;
}

.technology__img{
  z-index: 6;
}

.technology-bg {
  z-index: 2;
  position: absolute;
  top: 1200px;
  right: 0;
  
}

.technology__images{
  display: flex;
}
